.col-md-6.col-md-offset-3
  = form_for(@user, url: passwords_path, html: { id: 'auth-form' }) do |f|
    %h1.page-header
      = t('.form.header')
    - if @user.errors.any?
      %ul.form-errors.alert-danger
        = @user.errors.full_messages.map { |msg| content_tag(:li, msg.html_safe) }.join.html_safe
    .form-group
      %div= f.label :email
      = f.email_field :email, { class: 'form-control', required: true }
    .form-group
      = f.submit t('.form.submit'), { class: "btn btn-primary pull-right" }
      .clear
